*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#F4F7FC;
}

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:250px;
    background:#1E293B;
    color:#fff;
    box-shadow:3px 0 12px rgba(0,0,0,.1);
}

.sidebar h2{
    text-align:center;
    padding:30px;
    font-size:30px;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    transition:.3s;
}

.sidebar ul li a{
    display:block;
    padding:18px 25px;
    color:white;
    text-decoration:none;
    font-size:18px;
}

.sidebar ul li:hover{
    background:#2563EB;
}

.sidebar .active{
    background:#3B82F6;
}

/* Main */

.main{
    flex:1;
    padding:30px;
}

/* Header */

.header{
    background:#fff;
    padding:18px 30px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.search{
    width:70%;
    background:#EEF3FF;
    padding:12px 20px;
    border-radius:30px;
}

.search i{
    color:#2563EB;
    margin-right:10px;
}

.search input{
    border:none;
    outline:none;
    background:transparent;
    width:90%;
    font-size:17px;
}

.profile{
    width:60px;
    height:60px;
    background:#2563EB;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    cursor:pointer;
    transition:.3s;
}

.profile:hover{
    transform:scale(1.08);
    background:#1D4ED8;
}

/* Contact Cards */

.card{
    background:white;
    border-radius:20px;
    padding:30px;
    margin-top:30px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    border-left:6px solid #2563EB;
}

.card:hover{
    transform:translateY(-6px);
}

.card h2{
    color:#2563EB;
    margin-bottom:18px;
    font-size:24px;
}

.card p{
    color:#4B5563;
    margin:12px 0;
    font-size:17px;
    line-height:28px;
}

.card i{
    color:#2563EB;
    margin-right:10px;
    width:25px;
}