*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#f4f7fc;
}

/* Container */

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:260px;
    background:#0f172a;
    color:#fff;
}

.sidebar h2{
    text-align:center;
    padding:25px;
    font-size:30px;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    border-bottom:1px solid rgba(255,255,255,.08);
}

.sidebar ul li a{
    display:block;
    padding:18px 25px;
    color:#fff;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

.sidebar ul li a i{
    margin-right:12px;
}

.sidebar ul li:hover,
.sidebar ul li.active{
    background:#2563eb;
}

/* Main */

.main{
    flex:1;
    padding:30px;
}

/* Header */

.header{
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    margin-bottom:30px;
}



/* Buttons */

.buttons{
    display:flex;
    gap:15px;
}

.login,
.register{
    text-decoration:none;
    padding:18px 26px;
    color:#fff;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    transition:0.3s;
}

.login{
    background:#2563eb;
}

.login:hover{
    background:#1d4ed8;
}

.register{
    background:#10b981;
}

.register:hover{
    background:#059669;
}

/* Dashboard Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:#fff;
    padding:30px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card i{
    font-size:45px;
    color:#2563eb;
    margin-bottom:15px;
}

.card h3{
    margin-bottom:10px;
    color:#222;
}

.card p{
    color:#555;
}

/* Bottom Section */

.bottom{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

.upcoming,
.notice{
    background:#fff;
    border-radius:12px;
    padding:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.upcoming h2,
.notice h2{
    color:#2563eb;
    margin-bottom:20px;
}

.upcoming ul{
    list-style:none;
}

.upcoming ul li{
    padding:12px 0;
    font-size:17px;
}

.notice p{
    line-height:28px;
    margin:15px 0;
}

.notice hr{
    margin:10px 0;
    border:0;
    border-top:1px solid #ddd;
}

/* Responsive */

@media(max-width:992px){

.cards{
    grid-template-columns:repeat(2,1fr);
}

.bottom{
    grid-template-columns:1fr;
}

}

@media(max-width:768px){

.container{
    flex-direction:column;
}

.sidebar{
    width:100%;
}

.header{
    flex-direction:column;
    gap:15px;
    text-align:center;
}

.buttons{
    justify-content:center;
}

.cards{
    grid-template-columns:1fr;
}

}